<main class="main">
  <div class="container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--8-col material mdl-shadow--4dp">
      <div class="">
        <h3>Top Heroes</h3>
        <div class="">
          <a *ngFor="let hero of heroes" [routerLink]="['/detail', hero.id]" class="col-1-4">
            <div class="">
              <h4>{{hero.name}}</h4>
            </div>
          </a>
        </div>
        <hero-search></hero-search>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
  </div>
</main>